<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  </configSections>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="GoogleKey" value="x-6pVe_k8m5B-8NjtFS38aHQVKw="/>
    <add key ="CancelTaskValuesInSDT" value="Appointment cancelled by customer;Job fixed by customer;Job fixed remotely by FSE;Other"/>
    <add key="CountryIDKO" value="KOREA, REPUBLIC OF"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GradeAppointmentsFlag" value="true"/>
    <add key="ApplicationVersion" value="2.5"/>
    <add key="NumberOfSlots" value="36"/>
    <!-- OAuth url for Prod-->

    <!--<add key="OAuthUri" value="https://fssfed.ge.com/fss/as/token.oauth2?"/>
    <add key ="ClientID" value="GEHC_SiebelIntl_Services_2L_Client1"/>
    <add key ="ClientSecret" value= "c1c3pb0pSpSpm9fFYTDgVvLa3r2lhkbyztBGy4R2AiCsJr7JT10RQ0Ic63j6BUmc"/>
    <add key ="Scope" value="GEHC_SiebelIntl_Services_2L_API"/>-->

    <!-- OAuth url for Prod-->

    <!-- OAuth url for Stage-->
    
    <add key="OAuthUri" value="https://fssfed.stage.ge.com/fss/as/token.oauth2?"/>
    <add key ="ClientID" value="GEHC_SDTBooking_Client"/>
    <add key ="ClientSecret" value= "WagzBIlzAagfFApq9uh6vJrWBhM98XXd6felqslFrP5QdiS7wBPcIZArNhwlwL3g"/>
    <add key ="Scope" value="GEHC_SiebelIntl_Services_2L_API"/>

    <!-- OAuth url for Stage-->

    <!--http://3.20.109.242:9400-->
    <!--<add key="GoogleProxyURL1" value="http://3.28.29.242:9400"/>
    <add key="GoogleProxyURL2" value="http://3.20.109.242:9400"/>-->

    <!--<add key="GoogleProxyURL1" value=""/>-->
    <!--<add key="GoogleProxyURL2" value=""/>-->
    <add key="GoogleProxyURL2" value="http://3.20.109.242:9400"/>
    <!--<add key="clickproxyurl" value="http://3.234.164.81:80" />-->
    <!--<add key="ClickProxyURL" value="" />-->
    <add key="ClickProxyURL" value="http://cis-india-pitc-bangalorez.proxy.corporate.ge.com:80" />
    <!--<add key="clickproxyurl" value="http-proxy.health.ge.com:88" />-->
    <!--<add key="clickproxyurl" value="http://3.36.56.228:9400" />-->
    <!--<add key="clickusername" value="integration.sandbox" />
    <add key="ClickProxyURL" value="http://corp.setpac.ge.com/pac.pac" />
    <add key="systemID" value="0910553087AW1" />
      <!the below URL without OAuth-->
    <!--<add key="SiebelURL" value="http://usmkeimobvmd1.od.health.ge.com:8080/ServiceCRMAPI/2L/serviceRequests?" />-->
    <!--<add key="siebelurl" value="https://dev.api.ge.com/healthcare/servicesSiebelIntl/2L/v1/serviceRequests?" />-->



    <!-- Siebel Prod to Click Prod Server-->

    <!--<add key="ClickUserName" value="gehc.integration" />
    <add key="ClickPassword" value="w6int.service" />
    <add key="SiebelURL" value="https://api.ge.com/healthcare/servicesSiebelIntl/2L/v1/serviceRequests?" />
    <add key="ClickServicesURL" value="https://gehc-int.clicksoftware.com/SO/IntegrationServices/scheduleservice.svc/basichttpint"/>
    <add key="ClickServicesOptimizationURL" value="https://gehc-int.clicksoftware.com/SO/IntegrationServices/ServiceOptimizationService.svc/basichttpint"/>-->


    <!-- Siebel Prod to Click Prod Server-->

    <!--Siebel ITest to Click Stage Server-->

    <add key="ClickUserName" value="gehc.test" />
    <add key="ClickPassword" value="4321.ge" />
    <add key="SiebelURL" value="https://stage.api.ge.com/healthcare/servicesSiebelIntl/2L/v1/serviceRequests?" />
    <add key="ClickServicesURL" value="https://gehc-stg-so.clicksoftware.com/SO/IntegrationServices/ScheduleService.svc/basichttpint"/>
    <add key="ClickServicesOptimizationURL" value="https://gehc-stg-so.clicksoftware.com/SO/IntegrationServices/ServiceOptimizationService.svc/basichttpint"/>


    <!--Siebel ITest to Click Stage Server-->

    <!--Siebel CRP to Click SandBox Server-->

    <!--<add key="ClickUserName" value="gehc.integration" />
    <add key="ClickPassword" value="w6int.service" />
    <add key="SiebelURL" value="https://dev.api.ge.com/healthcare/servicesSiebelIntl/2L/v1/serviceRequests?" />
    <add key="ClickServicesURL" value="https://gehc-sb2-so.cloud.clicksoftware.com/SO/IntegrationServices/ScheduleService.svc/basichttpint"/>
    <add key="ClickServicesOptimizationURL" value="https://gehc-sb2-so.cloud.clicksoftware.com/SO/IntegrationServices/ServiceOptimizationService.svc/basichttpint"/>-->


    <!--Siebel CRP to Click SandBox Server-->




    <!--Siebel ITest to Click SandBox-->

    <!--<add key="clickusername" value="gehc.test" />
    <add key="clickpassword" value="4321.ge" />

    <add key="SiebelURL" value="https://dev.api.ge.com/healthcare/servicesSiebelIntl/2L/v1/serviceRequests?" />

    <add key="clickservicesurl" value="https://gehc-sb2-so.cloud.clicksoftware.com/so/integrationservices/scheduleservice.svc/basichttpint"/>
    <add key="clickservicesoptimizationurl" value="https://gehc-sb2-so.cloud.clicksoftware.com/so/integrationservices/serviceoptimizationservice.svc/basichttpint"/>-->


    <!--Siebel ITest to Click SandBox-->

    <!--Siebel CRP to Click Dev-->

    <!--<add key="clickusername" value="gehc.integration" />
    <add key="clickpassword" value="w6int.service" />
    <add key="siebelurl" value="https://dev.api.ge.com/healthcare/servicesSiebelIntl/2L/v1/serviceRequests?" />
    <add key="ClickServicesOptimizationURL" value="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ServiceOptimizationService.svc/BasicHttpInt"/>
    <add key="ClickServicesURL" value="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ScheduleService.svc/BasicHttpInt"/>-->

    <!-- End of Siebel CRP to Click Dev-->
    <add key="GoogleAddressAPI" value="https://maps.googleapis.com/maps/api/geocode/xml?"/>
    <add key="GoogleLatLongAPI" value="https://maps.googleapis.com/maps/api/timezone/xml?location="/>
    <!--the below URL with OAuth-->
  </appSettings>
  <!--<system.net>
            <defaultProxy enabled="true" useDefaultCredentials="true">
            </defaultProxy>
       </system.net>-->
  <system.web>
    <sessionState timeout="30"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_ScheduleService1">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CustomBinding_ScheduleService2">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CustomBinding_ScheduleService4">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CustomBinding_ScheduleService5">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CustomBinding_ServiceOptimizationService1">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CustomBinding_ServiceOptimizationService2">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CustomBinding_ServiceOptimizationService4">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CustomBinding_ServiceOptimizationService5">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_ScheduleService">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <httpTransport authenticationScheme="Basic" />
        </binding>
        <binding name="CustomBinding_ScheduleService3">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="W6InProcSxpIntBinding_ScheduleService">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
        <binding name="CustomBinding_ServiceOptimizationService">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <httpTransport authenticationScheme="Basic" />
        </binding>
        <binding name="CustomBinding_ServiceOptimizationService3">
          <textMessageEncoding messageVersion="Soap11WSAddressingAugust2004" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="W6InProcSxpIntBinding_ServiceOptimizationService">
          <textMessageEncoding messageVersion="Soap11" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sb-gehc-01b.csoddev.internal/SO/IntegrationServices/ScheduleService.svc/SxpInt" binding="customBinding" bindingConfiguration="CustomBinding_ScheduleService" contract="ScheduleServiceDev1.ScheduleService" name="CustomBinding_ScheduleService" />
      <endpoint address="http://sb-gehc-01b.csoddev.internal/SO/IntegrationServices/ScheduleService.svc/BasicHttpInt" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ScheduleService1" contract="ScheduleServiceDev1.ScheduleService" name="CustomBinding_ScheduleService1" />
      <endpoint address="http://sb-gehc-01b.csoddev.internal/SO/IntegrationServices/ScheduleService.svc/BasicHttpIntOneWay" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ScheduleService2" contract="ScheduleServiceDev1.ScheduleService" name="CustomBinding_ScheduleService2" />
      <endpoint address="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ScheduleService.svc/SxpInt" binding="customBinding" bindingConfiguration="CustomBinding_ScheduleService3" contract="ScheduleServiceDev1.ScheduleService" name="CustomBinding_ScheduleService3" />
      <endpoint address="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ScheduleService.svc/BasicHttpInt" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ScheduleService4" contract="ScheduleServiceDev1.ScheduleService" name="CustomBinding_ScheduleService4" />
      <endpoint address="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ScheduleService.svc/BasicHttpIntOneWay" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ScheduleService5" contract="ScheduleServiceDev1.ScheduleService" name="CustomBinding_ScheduleService5" />
      <endpoint address="w6.inproc://sb-gehc-01b.csoddev.internal:80/SO/IntegrationServices/ScheduleService.svc/InProcSxpInt" binding="customBinding" bindingConfiguration="W6InProcSxpIntBinding_ScheduleService" contract="ScheduleServiceDev1.ScheduleService" name="W6InProcSxpIntBinding_ScheduleService" />
      <endpoint address="http://sb-gehc-01b.csoddev.internal/SO/IntegrationServices/ServiceOptimizationService.svc/SxpInt" binding="customBinding" bindingConfiguration="CustomBinding_ServiceOptimizationService" contract="ServiceOptimizationService.ServiceOptimizationService" name="CustomBinding_ServiceOptimizationService" />
      <endpoint address="http://sb-gehc-01b.csoddev.internal/SO/IntegrationServices/ServiceOptimizationService.svc/BasicHttpInt" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ServiceOptimizationService1" contract="ServiceOptimizationService.ServiceOptimizationService" name="CustomBinding_ServiceOptimizationService1" />
      <endpoint address="http://sb-gehc-01b.csoddev.internal/SO/IntegrationServices/ServiceOptimizationService.svc/BasicHttpIntOneWay" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ServiceOptimizationService2" contract="ServiceOptimizationService.ServiceOptimizationService" name="CustomBinding_ServiceOptimizationService2" />
      <endpoint address="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ServiceOptimizationService.svc/SxpInt" binding="customBinding" bindingConfiguration="CustomBinding_ServiceOptimizationService3" contract="ServiceOptimizationService.ServiceOptimizationService" name="CustomBinding_ServiceOptimizationService3" />
      <endpoint address="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ServiceOptimizationService.svc/BasicHttpInt" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ServiceOptimizationService4" contract="ServiceOptimizationService.ServiceOptimizationService" name="CustomBinding_ServiceOptimizationService4" />
      <endpoint address="https://gehc-dev1.cloud.clicksoftware.com/SO/IntegrationServices/ServiceOptimizationService.svc/BasicHttpIntOneWay" binding="basicHttpBinding" bindingConfiguration="CustomBinding_ServiceOptimizationService5" contract="ServiceOptimizationService.ServiceOptimizationService" name="CustomBinding_ServiceOptimizationService5" />
      <endpoint address="w6.inproc://sb-gehc-01b.csoddev.internal:80/SO/IntegrationServices/ServiceOptimizationService.svc/InProcSxpInt" binding="customBinding" bindingConfiguration="W6InProcSxpIntBinding_ServiceOptimizationService" contract="ServiceOptimizationService.ServiceOptimizationService" name="W6InProcSxpIntBinding_ServiceOptimizationService" />
    </client>
  </system.serviceModel>
</configuration>

